@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.swiper-pagination {
    display: flex !important;
    justify-content: center !important;
    margin-top: 25px !important;
    gap: 8px !important;
    position: relative;
}

.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    background: #e90202 !important;
    border-radius: 50%;
    transition: background 0.3s ease !important;
}

.swiper-pagination-bullet-active {
    background: #e90202 !important;
}

@font-face {
    font-family: 'Team-Regular';
    src: url('/fonts/Team-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Team-Regular';
    src: url('/fonts/Team-Bold.woff2') format('woff2');
    font-weight: 600;
    /* Ահա այստեղ է կարևոր */
}


input[type='number'].no-spinner::-webkit-outer-spin-button,
input[type='number'].no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'].no-spinner {
    -moz-appearance: textfield;
}